.content-bar
   form.content-bar__form-sort
      span.content-bar__form-sort__text
         | Сортировать по
      select.content-bar__select(size="1")
         option.content-bar__option#price По цене
         option.content-bar__option#rating По рейтингу


   ul.content-bar__list
      li.content-bar__list__text Вид каталога
      li.content-bar__item.content-bar__item_1#list-1
      li.content-bar__item.content-bar__item_2#list-2
      li.content-bar__item.content-bar__item_3#list-3