include _common/_mixins

doctype html
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1" )
		link(rel="stylesheet" type='text/css' href="/css/main.css")
		title
			block title
	body
		.wrapper
			.maincontent

				include _common/_header


				.content-wrapper
					.container

						.content
							+nav('crumbs__navigation', ['Главаня >', 'Каталог'], 1)
							h1	Мобильные телефоны
							.content__inner

								block content


		include _common/_footer

		script("src=/js/main.js")