$socials: fb-f, vk-f, tw-f;


$socials-map: sprite-map('icons/*.png', $spacing: 70px);


@each $social in $socials {
  .socials-footer__link_#{$social} {
    @include get-sprite($socials-map, $social);
  }
}
.footer{
  background-color: black;
  background: url("../img/footer.png") repeat-x;
  .logo{
    margin-top: 70px;
  }
  .bottom-footer{
    min-height: 25px;
    border-top: 1px solid #494949;
      .box-copyright{
        text-align: center;
        font-size: 12px;
        color:white;
        padding: 5px;
      }
  }
}
.top-footer{
  min-height: 190px;
    .footer-content__left{
      width: 45%;
      float: left;

    }

    .footer-content__right{
      margin-top: 35px;
      width: 55%;
      text-align: right;
      float: right;
    .socials-footer{
      margin-bottom: 25px;
      .socials-footer__list{
        .socials-footer__item{
          display: inline-block;
          .socials-footer__link{
            font-size: 0;
            padding: 25px;
            @each $social in ('fb-f', 'vk-f', 'tw-f') {
              &_#{$social} {
                &:hover {
                  background: url("../img/icons/#{$social}-hover.png") no-repeat center;
                }
                background: url("../img/icons/#{$social}.png") no-repeat center;
              }
            }


          }

        }
      }
    }
    }
    .box_footer-navigation{
      .box_footer-navigation__list{

        .box_footer-navigation__item{
          display: inline-block;
          padding: 10px 0;
          .box_footer-navigation__link{
            text-decoration: underline;
            color:white;
            font-size: 14px;
            margin-left: 25px;
            &:hover{
              color:#ff6600;
            }


          }
        }

      }
    }
}