$socials: vk, tw, fb;


$socials-map: sprite-map('icons/*.png', $spacing: 70px);


@each $social in $socials {
  .socials__link_#{$social} {
    @include get-sprite($socials-map, $social);
  }
}
.top-line{
  height: 77px;
  box-shadow: 0px 2px 0px 0px rgba(235, 237, 239, 0.8);
  overflow: hidden;
  background-color: #fff;
    .socials{
        padding: 9px 0px;
      .socials__item{
        display: inline-block;
        margin: 0px 5px;
      }
      .socials__link {
        display: inline-block;
        font-size: 0;
        @each $social in ('fb', 'vk', 'tw') {
          &_#{$social} {
            &:hover {
              @include get-sprite($socials-map,#{$social}-hover);
            }
            @include get-sprite($socials-map,$social);
          }
        }
      }

      }

  .contacts{
        .contacts-block{ display: inline-block;
          vertical-align: middle;
          margin-left: 20px;
          padding: 20px 0;
          margin-left: 90px;}
    margin-top: 5px;
        .phone{
          font-size:  18px;
          font-family: opensans-semibold-webfont;
            &:before{
              content: '';
              margin-right: 8px;
              vertical-align: baseline;
              display: inline-block;
              @include get-sprite($socials-map, phone);

          }
        }
        .adress{
          font-family: opensans-semibold-webfont;
          font-size:14px;
          &:before{
            display: inline-block;
            vertical-align: baseline;
            @include get-sprite($socials-map, map);
            content: '';
            margin-right: 8px;

          }
        }

      }
   }




.logo-line{
  height: 90px;
  padding: 30px 0;
  margin-bottom: 15px;
      .logo{
      display: inline-block;
        vertical-align: middle;
    }

      .search-form{
        display: inline-block;
        width: 380px;
        margin-left: 60px;
        vertical-align: middle;


               .search-form__input {
                 border-radius: 4px;
                 font-size: 14px;
                 background: #fbfbfb;
                 color: #42454e;
                 min-width: 290px;
                 padding: 8px 8px;
              }


              .seacrh-form__submit {
                font-size: 16px;
                background: #ff6e35;
                color: #fff;
                font-weight: bold;
                padding: 7px 8px;
                margin-left: -3px;
                -webkit-border-radius: 0 4px 4px 0;
                -moz-border-radius: 0 4px 4px 0;
                border-radius: 0 4px 4px 0;

                &:hover{
                  opacity: 0.8;}
              }

      }

      .box__nav-navigation{
        display: inline-block;
        vertical-align: middle;


            .box__nav-navigation__item {
              display: inline-block;
              float: right;
              font-size: 16px;
              margin-left: 30px;

                  .box__nav-navigation__link{
                    color:black;
                    text-decoration: none;
                    border-bottom: 1px solid black;
                  &:hover{
                  color:#ff6600;
                    border-bottom: 1px solid #ff6600;
                } 
                    

              }
            }
    }

}
.menu-line{
  background: white;
  box-shadow: 0px 2px 0px 0px rgba(235, 237, 239, 0.8);
  margin-bottom: 15px;


  .box_top-navigation{

    .box_top-navigation__item{
     display: inline-block;
      margin-left: -5px;

      &:nth-child(1){
      margin-left: 0;
    }
   
     
      .box_top-navigation__link{
        display: inline-block;
        padding: 15px 15px;
        font-size: 16px;
        color:black;
        text-decoration: none;
        &:hover{
          background-color: #e4e2e2;


        }
      }
    }
    .box_top-navigation__item_active{
      .box_top-navigation__link{
        background-color: #ff6600;
        color: white;
        &:hover{
          background-color: #ff6600;
        }
      }
    }
  }
}



input {
  border: none;
  font-family: inherit;
  font-size: inherit;
  line-height: 1.5em;
  margin: 0;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}






