extends ../main
block title
    | Главная страница
block content
    .article
        .sidebar__wrapper
            include ../_common/_sidebar
        .article__inner
            include ../_common/_sort
        .content-bar
                    form.content-bar__form-sort
                        span.content-bar__form-sort__text
                            | Сортировать по
                        select.content-bar__select(size="1")
                            option.content-bar__option#price По цене
                            option.content-bar__option#rating По рейтингу


                    .content-bar__block
                        .content-bar__list__text Вид каталога
                        ul.content-bar__list
                            - var items =['1', '2', '3']
                            each item in items
                                li( class="content-bar__item content-bar__sort_"+ item data-view=item)
                                    a(href='#').sort_view-link
                                        .sort-icon

        .content-page
                    ul.content-page__list.content-page__list_1#sel-content
                        - for (var i=1; i<10; i++)
                            li.contetn-page__item
                                .wrapper-inner
                                    div(class ='wrapper-inner__gallery wrapper-inner__gallery_' + i)
                                        a(class='main-pick main-pick-' + i)
                                            img(class="gallery__img" src="img/phones/phone_" + i + ".png" alt=" ").image-gallery
                                        ul.slider__list
                                            - for (var j = 1; j<4; j++)
                                                li.slider__item
                                                   a(class=' min-pick min-pick_'+ j +' min-pick-' + j + '_1')
                                                            img(src="img/phones/phone_" + j + ".png" alt="").image-gallery_min

                                    p.wrapper-inner__article Артикл
                                        - var ch ="  ";
                                        span.wrapper-inner__article_number
                                            |  &#160 #{i}
                                    p.wrapper-inner__name
                                        | Samsung GT-193011 GALAXY S 3
                                    .about
                                        span.about_text
                                            | Смартфон Samsung GT-I9301I GALAXY S 3 Ceramic White Моноблок, Micro-SIM, Android 4.4, 3G, Bluetooth 4.0, EDGE, GPRS, WAP, Wi-Fi, Количество ядер процессора 4, Частота процессора 1400 МГц...
                                    ul.char
                                       - var options ={'Тип SIM-карты': 'Micro-SIM','Количество SIM-карт' : '1', 'Цвет' : 'белый', 'ОС' : 'Android', 'связь 4G' : 'Есть', 'GPS-модуль': 'есть' }
                                       - var index = 0;
                                       - for (item in options)
                                          li(class="char__item" +(!(index++ %2)? ' char_color':""))= item
                                                span.char__item_value= options[item]

                                    div(class ="wrapper-inner__rating" data-rating="3")
                                        ul.inner__rating-stars
                                            li.rating-stars-item.rating-stars-filed
                                            li.rating-stars-item.rating-stars-filed
                                            li.rating-stars-item.rating-stars-filed
                                            li.rating-stars-item
                                            li.rating-stars-item
                                        span.rating-result
                                            | 3
                                    .wrap-price
                                        p.wrapper-inner__price 11290
                                            i.rub
                                        button.wrapper-inner__button
                                            | В корзину
                                        .wrapper-inner__avail
                                            span.avail__text
                                                | В наличии
                    .pages
                        ul.pages__list
                            li.pages__item
                                a(href='#').pages__link <
                            li.pages__item.pages__item_active
                                a(href='#').pages__link 1
                            li.pages__item
                                a(href='#').pages__link 2
                            li.pages__item
                                a(href='#').pages__link 3
                            li.pages__item
                                a(href='#').pages__link >

