/*-----------INFO-----------*/
.block-info{
  p {margin: 0 15px 10px 0;
    text-align: justify;}
  padding: 10px;
  margin-bottom: 20px;
    .info-text{
      font-size: 20px;

    }
}

/*-------------*/



.content-page{
  float: right;
  width: 740px;
  min-height: 400px;
   .content-page__list,.content-page__item {
    display: inline-block;
     margin-bottom: 20px;
  }

  .content-page__list_1 {
    margin-bottom: 40px;
    .contetn-page__item{
      &:hover {
        @include box-shadow(#d1d1d1 0px 0px 6px);
        border-bottom: 1px solid #d1d1d1;
      }
      width: 740px;
      min-height: 240px;
      background: #fbfbfb;
      border: 1px solid #f4f4f4;
      padding: 20px 23px 20px 23px;
      overflow: hidden;
      &:first-child{
        @include border-radius(5px 5px 0 0);
      }
      &:last-child{
        @include border-radius(0 0 5px 5px);
      }
    }
    .wrapper-inner {
      &__gallery {
        float: left;
        width: 134px;
        height: 184px;
        margin-right: 25px;
        margin-bottom: 10px;
        display: block;
        .main-pick {
          cursor: pointer;
          display: block;
          width: 135px;
          height: 135px;
          overflow: hidden;
          @include border-radius(5px);
          border: 1px solid #dee1e4;

          margin-bottom: 16px;
        }
        .min-pick {
          cursor: pointer;
          margin-left: 13px;
          display: inline-block;
          width: 33px;
          height: 33px;
          overflow: hidden;
          @include border-radius(5px);
          border: 1px solid #dee1e4;
          &:hover {
            border: 1px solid #ff6600;
          }
          &_active {
            border: 1px solid #ff6600;
          }

        }
        .min-pick_1{
          margin-left: 0px;
        }

      }
      &__article {
        font-family: opensans-bold-webfont;
        color: #7f7f7f;

        display: block;
        width: 125px;
        height: 5px;
        margin-top: -5px;
        margin-left: 10px;
        &_number {
          display: inline-block;
          margin-top: -20px;
          color: #333333;
        }
      }
      &__name {
        margin-bottom: 20px;
        color: #010101;
        font-size: 1.2em;
        font-family: opensans-semibold-webfont;
      }
      .char {
        display: none;
      }
      .about {
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        display: block;
        width: 405px;
        margin-left: 135px;
        margin-bottom: 15px;
        color: #333333;
        font-size: 1em;
      }

      .inner__rating-stars {
        display: inline-block;
        vertical-align: middle;
        $stars-map: sprite-map('icons/star/*.png', $spacing: 30px);
        .rating-stars-item {
          display: inline-block;
          @include get-sprite($stars-map, nofild);

          &.rating-stars-filed {
            @include get-sprite($stars-map, fild);
          }
        }
      }
        .rating-result {
          background: #b5beca;
          color: #fbfbfb;
          width: 28px;
          font-size: 12px;
          line-height: 15px;
          display: inline-block;
          text-align: center;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          vertical-align: baseline;
          margin-left: 8px;
        }

      .wrap-price {
        float: right;
        display: block;
        border-left: 1px solid #dee1e4;
        height: 210px;
        margin-top: -160px;
        width: 130px;
      }
      &__price {
        text-align: right;
        color: #333333;
        font-family: opensans-semibold-webfont;
        font-size: 1.5em;
        margin-bottom: 125px;
      }
      &__button {
        float: right;
        width: 103px;
        height: 32px;
        color: #ffffff;
        background: #ff6600;
        border: none;
        font-family: opensans-bold-webfont;
        font-size: 1em;
        margin-bottom: 5px;
        &:hover {
          opacity: 0.8;
        }
        @include border-radius(5px);
      }
      &__avail {
        float: right;
        background: url('../img/in_stock.png') no-repeat left;
        padding-left: 12px;
        color: #7f7f7f;
        font-family: opensans-bold-webfont;
        font-size: 0.9em;
      }

    }
  }
  .content-page__list_2{
    margin-bottom: 49px;
    width: 760px;
    .contetn-page__item{
      &:hover {
        @include box-shadow(#d1d1d1 5px 5px 10px);
      }
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 22px;
      width: 235px;
      min-height: 250px;
      background: #fbfbfb;
      border: 1px solid #f4f4f4;
      overflow: hidden;
      @include border-radius(5px);
      .wrapper-inner {
        padding: 20px 14px 20px 14px;
        &__article, .about, .char__comma{
          display: none;
        }
        &__gallery {
          margin: 0 35px;
          float: left;
          width: 134px;
          height: 184px;
          margin-right: 25px;
          margin-bottom: 10px;
          display: block;
          .main-pick {
            cursor: pointer;
            display: block;
            width: 135px;
            height: 135px;
            overflow: hidden;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            border: 1px solid #dee1e4;

            margin-bottom: 16px;
          }
          .min-pick {
            cursor: pointer;
            margin-left: 13px;
            display: inline-block;
            width: 33px;
            height: 33px;
            overflow: hidden;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            border: 1px solid #dee1e4;
            &:hover {
              border: 1px solid #ff6600;
            }
            &_active {
              border: 1px solid #ff6600;
            }

          }
          .min-pick_1{
            margin-left: 0px;
          }

        }
        &__name {
          width: 150px;
          display: block;
          margin: 0 auto;
          text-align: center;
          font-family: opensans-semibold-webfont;
          color: #000000;
          margin-bottom: 5px;

        }
        .char{
          width: 200px;
          margin-bottom: 5px;
          &__item{
              color: #333333;
              background: #fbfbfb;
            &_value{
            float: right;
          }

          }
          &_color{
             background: #e6e6e6;
           }
        }
          .char__what {
            text-align: left;
          }
          .char__this {
            float: right;
            text-align: right;
          }


        .wrapper-inner__rating{
          text-align: center;
          margin-bottom: 5px;
        .inner__rating-stars {
          display: inline-block;
          vertical-align: middle;

          $stars-map: sprite-map('icons/star/*.png', $spacing: 30px);
          .rating-stars-item {
            display: inline-block;
            @include get-sprite($stars-map, nofild);

            &.rating-stars-filed {
              @include get-sprite($stars-map, fild);
            }
          }
        }
        .rating-result {
          background: #b5beca;
          color: #fbfbfb;
          width: 28px;
          font-size: 12px;
          line-height: 15px;
          display: inline-block;
          text-align: center;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          vertical-align: baseline;
          margin-left: 8px;
        }
        }
        &__price {
          margin: 0 55px;
          color: #333333;
          font-family: opensans-semibold-webfont;
          font-size: 1.5em;
          max-resolution: 5px;
        }
        &__button {
          float: right;
          width: 103px;
          height: 32px;
          color: #ffffff;
          background: #ff6600;
          border: none;
          font-family: opensans-bold-webfont;
          font-size: 1em;
          margin-bottom: 20px;
          &:hover {
            opacity: 0.8;
          }
          @include border-radius(5px);
        }
        &__avail {
          position: relative;
          top: 9px;
          left: -5px;
          margin-right: 5px;
          float: right;
          background: url('../img/in_stock.png') no-repeat left;
          padding-left: 12px;
          color: #7f7f7f;
          font-family: opensans-bold-webfont;
          font-size: 0.9em;
        }
      }
    }
  }
  .content-page__list_3 {
    margin-bottom: 67px;
    .contetn-page__item{
      &:hover {
        @include box-shadow(#d1d1d1 0px 0px 6px);
        border-bottom: 1px solid #d1d1d1;
      }
      width: 740px;
      height: 50px;
      background: #fbfbfb;
      border: 1px solid #f4f4f4;
      overflow: hidden;
      &:first-child{
        @include border-radius(5px 5px 0 0);
      }
      &:last-child{
        @include border-radius(0 0 5px 5px);
      }
    }
    .wrapper-inner {
      width: 100%;
      height: 100%;
      &__gallery, .about, .char,&__rating  {
        display: none;
      }
      &__article {
        padding: 18px 15px;font-family: opensans-bold-webfont;
        color: #7f7f7f;
        float: left;
        width: 100px;
        height: 50px;
        display: inline-block;
        &_number {
          display: inline-block;
          color: #333333;
        }
      }
      &__name {
        padding-top: 17px;
        width: 289px;
        height: 50px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
      }
      .wrap-price{
        width:315px;
        padding-top: 18px;
        padding-right: 20px;
        float: right;
      }
      &__price{
        margin-top: -5px;
        color: #333333;
        font-family: opensans-semibold-webfont;
        font-size: 1.1em;
        float: left;
      }
      &__button {
        margin-top: -10px;
        width: 103px;
        height: 32px;
        color: #ffffff;
        background: #ff6600;
        border: none;
        font-family: opensans-bold-webfont;
        font-size: 1em;
        margin-bottom: 5px;
        &:hover {
          opacity: 0.8;
        }
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
      }
      &__avail {
        margin-right: 20px;
        background: url('../img/in_stock.png') no-repeat left;
        padding-left: 12px;
        color: #7f7f7f;
        font-family: opensans-bold-webfont;
        font-size: 0.9em;
      }
      &__button, &__avail{
        float: right;
      }
    }
  }
  margin-bottom: 67px;
}


@for $q from 1 through 10 {
  .main-pick-#{$q}{
    background: #ffffff url('../img/phones/phone_#{$q}.png') no-repeat center;
  }
  .min-pick-#{$q}_1{
    background: #ffffff url('../img/phones/phone_#{$q}_min_1.png') no-repeat center;
  }
  .min-pick-#{$q}_2{
    background: #ffffff url('../img/phones/phone_#{$q}_min_2.png') no-repeat center;
  }
  .min-pick-#{$q}_3{
    background: #ffffff url('../img/phones/phone_#{$q}_min_3.png') no-repeat center;
  }
}

.pages {
  float: right;
  width: 145px;
  &__item, &__list {
    display: inline-block;
  }
  &__item {
    cursor: pointer;
    text-align: center;
    padding-top: 3px;
    width: 25px;
    height: 25px;
    background: #fefefe;
    border: 1px solid #c8c8c8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #7f7f7f;
    &:hover, &_active {
      background: #e0e0e0;
    }

  }
  &__link{
    text-decoration: none;
    color:#7f7f7f;
  }
}
.image-gallery{
  width: 135px;
  height: auto;
}
.image-gallery_min {
  width: 33px;
  height: auto;
}

.slider__item{
  display: inline-block;
}
