.content-bar {
  margin-bottom: 20px;
  overflow: hidden;
  float: right;
  width: 740px;
  height: 53px;
  color: #5d656c;
  border: 1px solid #dee1e4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #e4ebee;

  &__form-sort {
    padding: 10px 22px 15px 22px;
    float: left;
    &__text {
      margin-right: 10px;
    }

  }
  &__select {
     border: 1px solid #dddddd;
    color: #7f7f7f;
    border-radius: 5px;
    width: 142px;
    height: 28px;
  }
  &__option{
    &:last-child{
      border-radius: 0 0 5px 5px;
    }
  }
  &__list {
    &__text{
      display: inline-block;
      position: relative;
      bottom: 19px;
      right: 5px;
    }
    float: right;
  }
  &__item {
    cursor: pointer;
    width: 52px;
    height: 52px;
    border-left: 1px solid #dee1e4;
    display: inline-block;
    vertical-align: bottom;
    &_1 {
      background: url('../img/sort_1.png') no-repeat center;
      &:hover{
        background: url('../img/sort_1_active.png') no-repeat center;
      }
      &_active{
        background: url('../img/sort_1_active.png') no-repeat center;
      }
    }
    &_2 {
      background: url('../img/sort_2.png') no-repeat center;
      &:hover{
        background: url('../img/sort_2_active.png') no-repeat center;
      }
      &_active{
        background: url('../img/sort_2_active.png') no-repeat center;
      }
    }
    &_3 {
      background: url('../img/sort_3.png') no-repeat center;
      &:hover{
        background: url('../img/sort_3_active.png') no-repeat center;
      }
      &_active{
        background: url('../img/sort_3_active.png') no-repeat center;
      }
    }
  }
}