.content-bar {
  margin-bottom: 20px;
  overflow: hidden;
  float: right;
  width: 740px;
  height: 53px;
  color: #5d656c;
  border: 1px solid #dee1e4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #e4ebee;

  &__form-sort {
    padding: 10px 22px 15px 22px;
    float: left;
    &__text {
      margin-right: 10px;
      display: inline-block;
      vertical-align: middle;
    }

  }
  &__select {
    border: 1px solid #dddddd;
    color: #7f7f7f;
    border-radius: 5px;
    width: 142px;
    height: 28px;
    display: inline-block;
    vertical-align: middle;
  }
  &__option{
    &:last-child{
      border-radius: 0 0 5px 5px;
    }
  }
  &__list {
    &__text{
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px;
      margin-bottom: 4px;
    }
    display: inline-block;
    vertical-align: middle;

  }
  &__block{
    float: right;
  }

  @mixin get-sprite ($map, $icon) {
    $sprite-image: sprite-file($map, $icon);
    $sprite-map: sprite-url($map);
    $sprite-position: sprite-position($map, $icon);

    background: $sprite-map $sprite-position  no-repeat ;

  }


  $items:sort_1, sort_2, sort_3;

  $sort-map: sprite-map("icons/sort/*.png", $spacing: 70px);



  @each $item in $items{
    .content-bar__#{$item}.active{

        .sort-icon {
          @include get-sprite($sort-map, #{$item}_active);
        }
      }
     .content-bar__#{$item}{

       .sort-icon{
      @include get-sprite($sort-map, $item);
         &:hover{
           @include get-sprite($sort-map, #{$item}_active);
         }

    }


  }

  }
  &__item {
    cursor: pointer;
    width: 52px;
    height: 52px;
    border-left: 1px solid #dee1e4;
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    .sort_view-link{
      display: inline-block;
    }
  }
  .sort-icon {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin-top: 17px;
    margin-left: 17px;
  }
}


